*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background-color: rgb(229, 223, 46); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #f7df44, #0d0de7),
    repeating-radial-gradient(
      circle at center center,
      #f7df44,
      #f7df44,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
  gap: 20px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root,
#__next {
  isolation: isolate;
}

h1 {
  font-size: 60px;
}
